<!-- <div class="card">
    <ng-content></ng-content>
</div> -->
<!--card.component.html-->
<div class="dashboard-card">
    <div>
        <div class="card-title">
            {{title}}
        </div>
    </div>
    <div class="dashboard-card-content">
        <ng-content></ng-content>
    </div>
</div>
<!-- <div tabindex="0" class="e-card" id="basic">
    <div class="e-card-header">
        <div class="e-card-header-caption">
            <div class="e-card-title">{{title}}</div>
        </div>
    </div>
    <div class="e-card-content">
        <ng-content></ng-content>
    </div>
</div> -->